* {
  margin: 0;
  padding: 0;
}

.ruletka {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.8rem;
  border-radius: 50%;
  border: none;
}

.spin {
  position: relative;
  bottom: 0;
  right: 48%;
  padding: 2rem;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  outline: none;
}

.ball {
  position: relative;
  top: 0.8rem;
  right: 82.5%;
  padding: 1rem;
  outline: none;
}

.rotate1 {
  animation: spinWheel1 1s ease-in forwards;
}
.rotate2 {
  animation: spinWheel2 1s ease-in forwards;
}
.rotate3 {
  animation: spinWheel3 1s ease-in forwards;
}

@keyframes spinWheel1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-107deg);
  }
}
@keyframes spinWheel2 {
  from {
    transform: rotate(-107deg);
  }
  to {
    transform: rotate(-272.5deg);
  }
}
@keyframes spinWheel3 {
  from {
    transform: rotate(-272.5deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
